:root {
  font-family: 'Nothing';
}

@font-face {
  font-family: 'Nothing';
  src: url('./Font/Nothing.ttf') format(woff);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}