.card {
  display: inline-block;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
  aspect-ratio: auto 300 / 200;
  width: 180px;
  height: 120px;
  position: relative;
  margin: 20px;
}
  
.card > * {
  transition: .4s;
}
  
.card img {
  width: 180px;
  height: 120px;
}

.card figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-family: 'Nothing';
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  padding: .75rem;
  background: var(--c, #0009);
  clip-path: inset(0 100% 0 0);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  white-space: nowrap;
  transition: clip-path 0.5s ease-in-out; 
}
  
.card:hover figcaption {
  clip-path: inset(0 0 0 0); 
}
  
 