.searchbar {
    display: inline-block;
  }
  
  input[type="search"] {
    padding: 4px 8px;
    border: 2px solid #000;
    border-radius: 5px;
    background-color: #f0f0f0;
    font-family: 'Nothing';
    font-size: 16px; 
  }
  
  input[type="search"]:focus {
    outline: none;
    border-color: #000;
  }
  